<div class="footer-body" fxLayout="column" fxLayoutAlign="center center" >
  <div class="long-line"></div>
  <div class="contact-info" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
    <div class="footer-item">
      <h1 class="title-footer-item"> <i class="material-icons">phone</i> Teléfono</h1>
      <p class="text-footer-item">(+571)3152335038</p>
      <p class="text-footer-item">(+57)6114036</p>
    </div>
    <div class="footer-item">
      <h1 class="title-footer-item"><i class="material-icons">home</i>Dirección</h1>
      <p class="text-footer-item">Carrera 53 #104b-35</p>
    </div>
    <div class="footer-item">
      <h1 class="title-footer-item"><i class="material-icons">email</i>Email</h1>
      <p class="text-footer-item">comercial@medsys.co</p>
    </div>
  </div>
  <div class="copyright-text" fxLayoutAlign="center center">
      MedSys 2006-2018 © Todos los derechos reservados.
  </div>
</div>
