<div class="footer-body" fxLayout="column" fxLayoutAlign="center center" >
  <div class="long-line"></div>
  <img src="https://i.imgur.com/TadAOeN.png" class="logo">
  <div class="contact-info" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
    <div class="footer-item">
      <h1 class="title-footer-item"> <i class="material-icons">phone</i> Teléfono</h1>
      <p class="text-footer-item">310 2100335 - 320 3298045</p>
      <p class="text-footer-item">(+57)3910735 - (+57)6484973</p>
    </div>
    <div class="footer-item">
      <h1 class="title-footer-item"><i class="material-icons">home</i>Dirección</h1>
      <p class="text-footer-item">Calle 137 ·12b – 70 T. 1 Ap. 802</p>
    </div>
    <div class="footer-item">
      <h1 class="title-footer-item"><i class="material-icons">email</i>Email</h1>
      <p class="text-footer-item">fpgm14@yahoo.es</p>
    </div>
  </div>
  <div class="copyright-text" fxLayoutAlign="center center">
      Creado por MedSys 2006-2018 © Todos los derechos reservados.
  </div>
</div>
