
.client-quote-subdiv{
 background-color: white;
 padding-top: 100px;
 padding-bottom: 60px;
 width: 100%;
 min-height: 510px;
 text-align: center;
}
.name{
 color: #eb1773;
 font-family: 'Open Sans', sans-serif;
 font-size: 25px;
 margin: 0;
}
.current{
 max-width: 600px;
 font-size: 24px;
}
.our-clients-carousel{
 margin-top: 50px;
}
.steps{
 height: 10px;
 width: 25%;
}
h1{
 font-family: 'Dancing Script', cursive;
 margin: 0;
 color: #500525;
 font-size: 40px;
}
.our-clients-item{
 max-width:700px;
}
.fade-out{
 opacity: 0;
 -webkit-transition: all 800ms ease;
 -moz-transition: all 800ms ease;
 -ms-transition: all 800ms ease;
 -o-transition: all 800ms ease;
 transition: all 800ms ease;
}
.quote{
 text-align: justify;
}
.fade-in{
 opacity: 1;
 -webkit-transition: all 800ms ease;
 -moz-transition: all 800ms ease;
 -ms-transition: all 800ms ease;
 -o-transition: all 800ms ease;
 transition: all 800ms ease;
}
.single-quote{
 font-family: 'Dancing Script', cursive;
 font-size: 120px;
 color: #e29dbb;
 margin: -10px;
 margin-right: 21px;
}