<div class="about-doctor-body" >
  <div class="about-doctor-body-subdiv" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.xs="column">
    <img src="https://i.imgur.com/akuglvi.png" class=" fadeIn animated image-profile">
    <div class="description-div fadeIn animated ">
      <h1>Perfil Profesional</h1>
      <p>Médico Cirujano y Gineco-Obstetra con excelentes relaciones personales, sentido
      de la responsabilidad y practicidad.</p>
      <p>Tesis de pregrado “Análisis Retrospectivo de la Neumonía Causada por
      Pneumocystis carinii en Pacientes con SIDA, en el Hospital Santa Clara”.</p>
      <p>Tesis de Postgrado “¿Es la revisión uterina factor protector de infección y anemia
      puerperal?</p>
    </div>
  </div>
</div>
