<div class="about-body" fxLayoutAlign="center center">
  <div class="text-about">
    <div class="small-line"></div>
    <h1 class="title-about">ACERCA DE NOSOTROS</h1>
    <p>
      <b>MedSys</b> es una compañia con más de diez años de experiencia en el desarrollo de
      soluciones tecnológicas para diversos sectores. En el sector médico desarrollamos
      software para cubrir de manera eficiente las necesidades de profesionales de diferentes
      especialidades. Estamos en constante evolución para adaptarnos a los cambios tecnológicos
      modernos y a las regulaciones estatales en manejo de información médica.
    </p>
    <p>
      Contamos con un amplio grupo interdisciplinario de profesionales encargados
      de desarrollar productos de alta calidad y brindar un excelente servicio a nuestros clientes.
    </p>
    <div class="country-logos-div" fxLayoutGap="10px" >
        <img class="country-logo" src="https://i.imgur.com/JGn0wxQ.png">
        <img class="country-logo" src="https://i.imgur.com/VRMIZzB.png">
        <img class="country-logo" src="https://i.imgur.com/0fAhoVq.png">
        <img class="country-logo" src="https://i.imgur.com/i66XaXq.png">
        <img class="country-logo" src="https://i.imgur.com/9kpu4tq.png">
    </div>
  </div>
</div>
