.toolbar-body{
  background-color: white;
}
.toolbar-body-sub{
  background-color: #ec609b;
  height: 45px;
  border-bottom-left-radius: 45px;
}
.toolbar-body-sub-fixed{
  background-color: #e24285f3;
  height: 50px;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom-left-radius: 25px;
  width: 100%;
}
.menuItemSelected{
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease-out;
  background-color: #c22868;
  transition: all 0.3s ease-out;
}
.toolbar-logo{
  height: 35px;
  padding-left: 85px;
}
.toolbar-logo:hover{
  cursor: pointer;
}
.menuItem{
  font-weight: 100;
  text-align: center;
}
.menuItems{
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease-out;
}
.items-mobile{
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease-out;
}
.items-mobile:hover{
  background-color: #b43c6e;
}
.menuItems:hover{
  background-color: #b43c6e;
}
.toolbar-body-sub-mobile{
  position: relative;
  top: 0px;
  right: 0px;
  background-color: #ec609b;
}
.btn-menu-txt{
  font-size: 25px;
}
.btn-menu{
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding-bottom: 5px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
  background: rgba(0,0,0,0);
}
.obscure-mobile{
  background-color: rgba(0, 0, 0, 0.753);
  height: 100%;
  width: 100%;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 11;
}
.menuItems-mobile{
  width: 100%;
  background-image: linear-gradient(to top, #ec609b, #ed5fa4, #ee5fad, #ed5fb7, #ec60c1);
  position: fixed;
  top:0px;
  left: 0px;
  transition: all 0.3s ease-out;

  z-index: 12;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.btn-menu:hover{
  cursor: pointer;
  background-color: #b43c6e;
}
.btn-mobile{
  background-color: rgba(0,0,0,0);
  border: 0;
  padding-top:15px;
  padding-bottom:15px;
  color: white;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
}
.icon-mobile{
  font-size: 40px;
}
.btn-mobile:hover{
  cursor: pointer;
  background-color: #b43c6e;
}
.btn-menu:hover{
  cursor: pointer;
  background-color: #b43c6e;
}
.menu-selected{
  background-color: aqua;
}