<div class="video-slider-body">
  <div class="video-div" fxLayoutAlign="center center">
    <div class="video-div" fxLayoutAlign="center center">
      <div class="video-description">
        <img class="video-img" src="https://i.imgur.com/0EXW4Ms.png">
        <p class="description-video">
            Software de administración de consentimientos informados.
        </p>
        <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
          <button class="play-btn">
            <i class="material-icons">play_arrow</i>
          </button>
          <app-register-btn></app-register-btn>
        </div>
      </div>
    </div>
    <video autoplay (click)="playVideo()" [muted]="muted"  loop class="video scanLines">
      <source src="medisign.mp4" type="video/mp4">
    </video>
  </div>
</div>
