<div class="page-medsys-body">
  <app-medsys-slider></app-medsys-slider>
  <app-our-product-description-vertical></app-our-product-description-vertical>
  <app-our-product-description-vertical-inv></app-our-product-description-vertical-inv>
  <app-our-product-description-horizontal></app-our-product-description-horizontal>
  <app-our-product-description-horizontal-right></app-our-product-description-horizontal-right>
  <app-our-product-description-horizontal-list></app-our-product-description-horizontal-list>
</div>
