<div class="our-product-description-horizontal-body"
    fxFlexLayout="column" fxLayoutAlign="center center"

>
  <div fxLayout="row"  fxLayoutGap="60px" fxLayout.xs="column" class="description-horizontal">
    <div fxFlex="60">
        <img src="https://i.imgur.com/U81InGX.png" class="product-image">
    </div>
    <div fxFlex="40">
      <div class="small-line"></div>

      <h1 class="product-title">
        Imágenes Diagnósticas y Fotografías
      </h1>
      {{description}}
    </div>
  </div>
</div>
