<div class="main-slider-static-body" fxLayout="column"
     fxLayoutAlign="start center" id="toolbar">
  <div fxLayout="row" class="info fadeInDown animated" fxLayoutGap.xs="5" fxLayoutGap="50px" fxLayoutAlign="center center">
    <div fxLayout.xs ="column" fxLayoutAlign="center center">
      <span class="item-info"><i class="material-icons icon-slider">phone</i><span class="info-txt">3910735 - 6484973</span></span>
      <span class="item-info"><i class="material-icons icon-slider">smartphone</i><span class="info-txt">3102100335 - 3203298045</span></span>
    </div>
  </div>

  <div fxLayoutAlign="left left" class="fadeInDown animated title-div" fxLayout="column">
    <div fxLayout="row" [routerLink]="" >
      <img src="https://i.imgur.com/u90fT5V.png" class="img-slider" >
      <h1>Dra. Patricia Gómez</h1>
    </div>
    <div fxLayout="row" class="subtitle-div" fxLayoutAlign="left left">
      <span class="subtitle">Ginecológa</span>
    </div>
  </div>
</div>
