.medsys-slider-body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#27b6a1+56,59b3bf+100 */
  background: rgb(39,182,161); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(39,182,161,1) 56%, rgba(89,179,191,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(39,182,161,1) 56%,rgba(89,179,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(39,182,161,1) 56%,rgba(89,179,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27b6a1', endColorstr='#59b3bf',GradientType=0 ); /* IE6-9 */
  font-family: 'Source Sans Pro', sans-serif;
  padding-top:70px;
  padding-bottom: 70px;
}

.carousel{
  width: 50%;
  max-width: 450px;
}

.slider-img{
  width: 100%;
}

.text-div{
  max-width: 480px;
  color: white;
  width: 100%;
  padding: 10px;
}

.title-medsys{
  font-size: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  margin: 0;
}

.txt-medsys{
  margin: 0;
  font-size: 18px;
}
