.client-slider-body{
  background-color: rgb(31, 31, 31);
  height :150px;
  border-bottom: 3px solid #08bba0;

}

.carousel{
  width: 100%;
  max-width: 1000px;
}
.slide{
  width: 200px;
}
.slider-img{
  width: 150px;
}

.slider-img{
  width: 150px;
}
