<div class="page-login-body" fxLayoutAlign="center" >
  <mat-card class="z-depth-5 login-box" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center">
    <img src="https://i.imgur.com/q6e87R9.png" [ngClass]="spin" class="img-log">
    <img src="https://i.imgur.com/zGUJ4yU.png" class="img-text">
    
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field class="inputmat" fxFlex="100%">
        <input matInput placeholder="Nombre de usuario"
               [(ngModel)]="username" dividerColor="warn" 
               [formControl]="usernameFormControl">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
            El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="inputmat" fxFlex="100%">
        <input matInput placeholder="Contraseña" [formControl]="passwordFormControl"
          type="password"  [errorStateMatcher]="matcher" [(ngModel)]="password">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          La contraseña es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
<!--
      <re-captcha (resolved)="resolved($event)" siteKey={{key}}></re-captcha>
-->
      <button class="signIn-btn"  (click)="sendInformation()">
        LOG IN
      </button>
    </div>
  </mat-card>
</div>
