.page-login-body  {
    position: absolute;
    z-index: 9;
    background-color: rgb(63, 184, 168);
    height: 100%;
    width: 100%;
    z-index: 4;
}
.login-bg{
    z-index: 3;
    position: absolute;
    max-height: 100%;
    width: 100%;
}
.input-txt{
    width: 280px;
    padding-bottom: 20px;
}
.page-login-body:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 70%;
    left: 0;
    background-color: rgba(43,47,60);
    z-index: 4;
}
.login-box{
    padding:20px;
    margin-top: 120px;
    border-radius: 5px;
    max-width: 500px !important;
    max-height: 480px !important;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

.spin {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.img-log{
    height:90px;
}
.img-text{
    height: 40px;
    padding-bottom: 20px;
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 
                0 8px 32px 5px rgba(0, 0, 0, 0.12), 
                0 10px 12px -5px rgba(0, 0, 0, 0.3) !important;
}
.signIn-btn{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(43,47,60);
    border-radius: 50px ;
    color: rgba(43,47,60);
    margin-top: 30px;
    font-size: 15px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 7px;
    padding-top: 7px;
    transition: background-color 0.25s ease-out;
  }
.inputmat{
    width: 260px;
    padding-bottom: 10px;
}
.signIn-btn:hover, .signIn-btn:focus{
    background-color: rgb(73, 211, 192);
    cursor: pointer;
}
  